<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Login</title>
</head>
<body>
    <h2>Login Page</h2>
    <p>Please enter your username and password</p>
    <form action="LoginServlet" method="GET">
        <p>
            Name:<input type="text" name="username"/><br/><br/>
        </p>
        <p>
            Password:<input type="password" name="userpass"/><br/><br/>
        </p>
        <p>
            <input type="submit" value="login"/>
        </p>

    </form>
    <p>&nbsp;</p>
</body>
</html>